<section class="padding-top-40 fadeInUp-1">
  <div class="container">

    <div class="row">

      <div class="col-xs-12 margin-bottom-40">
        <h1 class="text-center bold-rounded">We would love to hear from you</h1>
      </div>

      <div class="col-sm-6 contact-icons margin-bottom-40">
        <h2 class="text-center">Email</h2>
        <img ng-src="img/contact/email-icon.png">
        <h3 class="text-center">
          <a href="mailto:aam@lemonadereward.com" class="contact-email" analytics-on="click" analytics-event="Clicked on email link aam@lemonadereward.com">
          aam@lemonadereward.com</a>
        </h3>
      </div>

      <div class="col-sm-6 contact-icons margin-bottom-40">
        <h2 class="text-center">Phone</h2>
        <img ng-src="img/contact/phone-icon.png">
        <h3 class="text-center">01483 617 018</h3>
      </div>

    </div>

  </div><!-- End .container -->
</section><!-- End .light-grey .section -->

