@font-face {
  font-family: 'MuseoSans-100'; src:
  url('web-fonts/MuseoSans100/MuseoSans-100.eot?#iefix') format('embedded-opentype'),
  url('web-fonts/MuseoSans100/MuseoSans-100.otf')  format('opentype'),
  url('web-fonts/MuseoSans100/MuseoSans-100.woff') format('woff'),
  url('web-fonts/MuseoSans100/MuseoSans-100.ttf')  format('truetype'),
  url('web-fonts/MuseoSans100/MuseoSans-100.svg#MuseoSans-100') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansRounded-700'; src:
  url('web-fonts/MuseoSansRounded700/MuseoSansRounded-700.eot?#iefix') format('embedded-opentype'),
  url('web-fonts/MuseoSansRounded700/MuseoSansRounded-700.otf')  format('opentype'),
  url('web-fonts/MuseoSansRounded700/MuseoSansRounded-700.woff') format('woff'),
  url('web-fonts/MuseoSansRounded700/MuseoSansRounded-700.ttf')  format('truetype'),
  url('web-fonts/MuseoSansRounded700/MuseoSansRounded-700.svg#MuseoSansRounded-700') format('svg');
}

@font-face {
  font-family: 'MuseoSansRounded-900'; src:
  url('web-fonts/MuseoSansRounded900/MuseoSansRounded900.eot?#iefix') format('embedded-opentype'),
  url('web-fonts/MuseoSansRounded900/MuseoSansRounded900.otf')  format('opentype'),
  url('web-fonts/MuseoSansRounded900/MuseoSansRounded900.woff') format('woff'),
  url('web-fonts/MuseoSansRounded900/MuseoSansRounded900.ttf')  format('truetype'),
  url('web-fonts/MuseoSansRounded900/MuseoSansRounded900.svg#MuseoSans-100') format('svg');
  font-weight: normal;
  font-style: normal;
}
