<section class="margin-bottom-40">
  <div class="container">
    <div class="row" id="springhead">
      <div class="col-xs-12">
        <h1 class="text-center">WHAT HAS BEEN HAPPENING</h1>
      </div>
    </div>
  </div>
</section>

<section class="timeline-section">

  <div class="timeline-section-line"></div>

  <div class="container">

    <div class="row dot-container margin-bottom-20">
      <div class="col-xs-12">
        <div class="row">

          <div class="col-xs-2 col-md-push-5 col-md-2">
            <article>
              <div class="dot-wrapper" active-dot>
                <div class="outer-circle">
                  <div class="inner-circle"></div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-xs-10 col-md-pull-2 col-md-5">
            <h3 class="bold-rounded text-right margin-top-0">NEW DEFAULT FUND GOES LIVE</h3>
            <img data-ng-src="img/news/spring/calendar.png" class="pull-right margin-bottom-20">
            <p class="text-right clear">
              AVAILABLE NOW
            </p>
            <a type="button"
               class="aberdeen-btn-blue pull-right margin-bottom-20"
               ng-href="http://doc.morningstar.com/Document/7b5626f9614464d70347d9be029f0deb.msdoc/?clientid=aegon&key=6f6f642302e65696"
               target="_blank"
               analytics-on="click"
               analytics-event="DEFAULT FUND">DEFAULT FUND</a>
            <p class="text-right clear">“New colleagues are automatically enrolled into a default fund when they join the pension”</p>
            <ul class="custom-list-bullet right">
              <li><p class="text-right margin-bottom-20">The new default fund is based on the Diversified Growth Fund</p></li>
              <li><p class="text-right margin-bottom-20">The fund will ‘lifestyle’ to 25% cash from age 62 to 65</p></li>
              <li><p class="text-right margin-bottom-20">If you want more information, or to consider moving from the old to the new default fund, please follow the link below</p></li>
            </ul>
            <a type="button" class="aberdeen-btn-blue pull-right margin-bottom-20"
               ng-href="http://aam.lemonadereward.com/DIGITAL/PAGES/mypension/docs/aegon_announcement.pdf"
               target="_blank"
               analytics-on="click"
               analytics-event="AEGON ANNOUNCEMENT">AEGON ANNOUNCEMENT</a>
            <p class="text-right clear margin-bottom-20">Alternatively, you can find an alteration of fund choice form in the resource centre</p>
            <a type="button" class="aberdeen-btn-blue pull-right margin-bottom-20"
               ng-href="#!/home#resource"
               analytics-on="click"
               analytics-event="RESOURCE CENTRE">RESOURCE CENTRE</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row dot-container margin-bottom-20">
      <div class="col-xs-12">
        <div class="row">

          <div class="col-xs-2 col-md-push-5 col-md-2">
            <article>
              <div class="dot-wrapper" active-dot>
                <div class="outer-circle">
                  <div class="inner-circle"></div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-xs-10 col-md-push-5 col-md-5">
            <h3 class="bold-rounded text-left margin-top-0">DO YOU NEED TO ENTER YOUR PENSION CONTRIBUTIONS ON YOUR TAX RETURN?</h3>
            <p class="text-left margin-bottom-20">The answer for most colleagues is ‘No you don’t’</p>
            <p class="text-left margin-bottom-20">This is because any employee contributions are usually made by salary sacrifice, which reduces your taxable income in return for an increased employer contribution</p>
            <p class="text-left margin-bottom-20">However, there are 3 occasions where you may have to complete pension details on your tax return:</p>
            <ul class="custom-list-bullet left">
              <li><p class="text-left margin-bottom-20">If you have made any ad hoc contributions from your bank account</p></li>
              <li><p class="text-left margin-bottom-20">If you are making employee contributions outside of salary sacrifice</p></li>
              <li><p class="text-left margin-bottom-20">If you have exceeded the Annual Allowance and you have insufficient unused allowance from previous years</p></li>
            </ul>
            <p class="text-left margin-bottom-20">If you think any of these may apply to you please follow our decision tree</p>
            <a class="aberdeen-btn-blue margin-bottom-20"
               ng-href="http://aam.lemonadereward.com/DIGITAL/PAGES/mypension/docs/decision_tree.pdf"
               target="_blank"
               analytics-on="click"
               analytics-event="DECISION TREE">DECISION TREE</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row dot-container margin-bottom-20">
      <div class="col-xs-12">
        <div class="row">

          <div class="col-xs-2 col-md-push-5 col-md-2">
            <article>
              <div class="dot-wrapper" active-dot>
                <div class="outer-circle">
                  <div class="inner-circle"></div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-xs-10 col-md-pull-2 col-md-5">
            <h3 class="bold-rounded text-right margin-top-0">FINANCIAL EDUCATION SEMINARS</h3>
            <img data-ng-src="img/news/spring/calendar.png" class="pull-right margin-bottom-20">
            <ul class="custom-list-bullet right clear">
              <li><p class="text-right margin-bottom-20">There was a great response to the seminars provided by Lemonade</p></li>
              <li><p class="text-right margin-bottom-20">If you missed the chance to attend try taking Lemonade's quick and confidential Financial Health Check</p></li>
            </ul>
            <a type="button"
               class="aberdeen-btn-blue pull-right margin-bottom-20"
               ng-href="http://lemonademoney.com/financial-health-check/income"
               target="_blank"
               analytics-on="click"
               analytics-event="FINANCIAL HEALTH CHECK">FINANCIAL HEALTH CHECK</a>
            <ul class="custom-list-bullet right clear">
              <li><p class="text-right margin-bottom-20">Lemonade will be back in Autumn to complete the annual pension roadshows and 1-2-1 advice meetings</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<!--<section class="award-banner margin-bottom-40">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-4"><img data-ng-src="img/news/spring/award-left-img.png" class="pull-left img-responsive"></div>
    <div class="col-md-4 col-sm-12 col-xs-12 padding-bottom-40 padding-top-40"><img data-ng-src="img/news/spring/award-center-img.png" class="center-block img-responsive"></div>
    <div class="hidden-xs hidden-sm col-md-4"><img data-ng-src="img/news/spring/award-right-img.png" class="pull-right img-responsive"></div>
  </div>
</section>-->

<section class="margin-bottom-40">
  <div class="container">
    <hr class="divider">
  </div>
</section>

<section class="padding-bottom-40">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center margin-bottom-40">Any<br><span class="bold-rounded">QUESTIONS?</span></h1>
        <p class="text-center margin-bottom-40">click the button below and we’ll get back to you ASAP</p>
        <a class="aberdeen-btn filled centered" ui-sref="contact" analytics-on="click" analytics-event="CONTACT US">CONTACT US</a>
      </div>
    </div>
  </div>
</section>
