<section class="margin-bottom-40">
  <div class="container">
    <div class="row" id="ns0">
      <div class="col-xs-12">
        <h1 class="text-center">WHAT HAS BEEN HAPPENING</h1>
      </div>
    </div>
  </div>
</section>

<section class="timeline-section">

  <div class="timeline-section-line"></div>

  <div class="container">

    <div class="row dot-container margin-bottom-20">
      <div class="col-xs-12">
        <div class="row">

          <div class="col-xs-2 col-md-push-5 col-md-2">
            <article>
              <div class="dot-wrapper" active-dot>
                <div class="outer-circle">
                  <div class="inner-circle"></div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-xs-10 col-md-pull-2 col-md-5">
            <h3 class="bold-rounded text-right margin-top-0">NEW FUND STRATEGIES GO LIVE</h3>
            <img data-ng-src="img/news/spring/calendar.png" class="pull-right margin-bottom-20">
            <p class="text-right clear">
              AVAILABLE NOW
            </p>
            <a type="button"
               class="aberdeen-btn-blue pull-right margin-bottom-20"
               ng-href="http://aam.lemonadereward.com/DIGITAL/PAGES/mypension/docs/AAM_Pension_Fund_Profiler.pdf"
               target="_blank"
               analytics-on="click"
               analytics-event="DEFAULT FUND">LEMONADE PROFILER</a>
            <p class="text-right clear margin-bottom-20">"The Committee has worked with Lemonade to create a new set of fund profiles"</p>
            <ul class="custom-list-bullet right">
              <li><p class="text-right margin-bottom-20">Uses the Diversified-Core range of funds</p></li>
              <li><p class="text-right margin-bottom-20">For an expected level of volatility, you can target a level of return</p></li>
              <li><p class="text-right margin-bottom-20">For more information please attend one of the Lemonade Roadshows detailed below</p></li>
              <li><p class="text-right margin-bottom-20">To make a fund switch you can login to your account or fill out a form by clicking the button below</p></li>
            </ul>
            <a type="button" class="aberdeen-btn-blue pull-right margin-bottom-20"
               ng-href="http://aam.lemonadereward.com/DIGITAL/PAGES/mypension/docs/AEGON_Alteration_of_fund_choice_form.pdf"
               target="_blank"
               analytics-on="click"
               analytics-event="AEGON ANNOUNCEMENT">ALTERATION OF FUND CHOICE</a>

          </div>
        </div>
      </div>
    </div>

    <div id="ns2" class="row dot-container margin-bottom-20">
      <div class="col-xs-12">
        <div class="row">

          <div class="col-xs-2 col-md-push-5 col-md-2">
            <article>
              <div class="dot-wrapper" active-dot>
                <div class="outer-circle">
                  <div class="inner-circle"></div>
                </div>
              </div>
            </article>
          </div>

          <div id="booksummer" class="col-xs-10 col-md-push-5 col-md-5">
            <h3 class="bold-rounded text-left margin-top-0">UPCOMING PENSION ROADSHOWS</h3>
            <p class="text-left margin-bottom-20">Our pension advisers, Lemonade, are visiting all UK offices to host the annual roadshow and offer one-to-one pension review meetings.</p>
            <p class="text-left margin-bottom-20">The presentations will last approximately 45 minutes and will:</p>
            <ul class="custom-list-bullet left">
              <li><p class="text-left margin-bottom-20">Update you on topical pension matters</p></li>
              <li><p class="text-left margin-bottom-20">Give you the opportunity to review how your funds have performed</p></li>
              <li><p class="text-left margin-bottom-20">Help you understand your options at retirement</p></li>
            </ul>
            <p class="text-left margin-bottom-20">We have several dates available at our various locations, please click on the link below to book yourself onto a presentation.</p>
            <a class="aberdeen-btn-blue margin-bottom-20"
               ng-href="https://id.aberdeen.aberdeen-asset.com/adfs/ls/IdpinitiatedSignon.aspx?RelayState=RPID%3Dhttps%253A%252F%252Faberdeen-asset.csod.com%26RelayState%3D%252fDeepLink%252fProcessRedirect.aspx%253fmodule%253d336"
               target="_blank"
               analytics-on="click"
               analytics-event="DECISION TREE">BOOK PLACE</a>
          </div>
        </div>
      </div>
    </div>

    <div id="ns3" class="row dot-container margin-bottom-20">
      <div class="col-xs-12">
        <div class="row">

          <div class="col-xs-2 col-md-push-5 col-md-2">
            <article>
              <div class="dot-wrapper" active-dot>
                <div class="outer-circle">
                  <div class="inner-circle"></div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-xs-10 col-md-pull-2 col-md-5">
            <h3 class="bold-rounded text-right margin-top-0">ABERDEEN SCOOPS PENSION SCHEME OF THE YEAR</h3>
            <p class="text-right margin-bottom-20">Aberdeen has won Defined Contribution (DC) Pension Scheme of the Year and Pension Scheme of the Year at this year's Professional Pensions UK Pensions Awards.</p>
            <p class="text-right margin-bottom-20">Held in London, they are the largest UK institutional industry awards event of the year, with a number of hight-profile consultants and trustees on the judging panel.</p>
            <p class="text-right margin-bottom-20">Aberdeen won <span class="bold-rounded">DC Pension Scheme of the Year</span> (for firms with under 5,000 staff), beating DP World Group, RSM and Schneider Electric.</p>
            <p class="text-right margin-bottom-20">We were then delighted to win <span class="bold-rounded">Pension Scheme of the Year</span> - to win this coveted award we beat off stiff competition from all 17 category winners, including British Airways, Vodafone UK, BNP Paribas, HSBC, Citi UK, Lloyds Bank and Nationwide.</p>
            <p class="text-right margin-bottom-20">The key areas where our pension offering stood out against the competition - </p>
            <p class="text-right margin-bottom-20"><span class="bold-rounded">1. </span> Innovation: Lemonade's innovative portal helps all colleagues understand the complex and changing pension environment, including the new pension allowances.</p>
            <p class="text-right margin-bottom-20"><span class="bold-rounded">2. </span> Investment management: we have launched new fund profiles to match your lifestyle needs.</p>
            <p class="text-right margin-bottom-20"><span class="bold-rounded">3. </span> Communication: the combination of Lemonade's free one-to-one advice, educational roadshows and a robust consultative committee (the EPCC) keeps all colleagues informed.</p>
            <p class="text-right margin-bottom-20">The Employee Pension Consultation Committee (EPCC) works extensively with our pension provider, Aegon, and pension advisers, Lemonade to ensure Aberdeen continues to provide a first class pension aligned to your needs.</p>
          </div>
        </div>
      </div>
    </div>


    <div  class="row dot-container margin-bottom-20">
      <div class="col-xs-12">
        <div class="row">

          <div class="col-xs-2 col-md-push-5 col-md-2">
            <article>
              <div class="dot-wrapper" active-dot>
                <div class="outer-circle">
                  <div class="inner-circle"></div>
                </div>
              </div>
            </article>
          </div>

          <div class="col-xs-10 col-md-push-5 col-md-5">
            <h3 class="bold-rounded text-left margin-top-0">AEGON ARE MOVING TO ONLINE STATEMENTS</h3>

            <p class="text-left margin-bottom-20">From September:</p>
            <ul class="custom-list-bullet left">
              <li><p class="text-left margin-bottom-20">Aegon will write to you to explain how to register for online access</p></li>
              <li><p class="text-left margin-bottom-20">An opt-out service is available if you who want to continue receiving a printed statement</p></li>
              <li><p class="text-left margin-bottom-20">In the coming months, Aegon will be giving you online access to some of their other documents via an improved online service</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>


<section class="margin-bottom-40">
  <div class="container">
    <hr class="divider">
  </div>
</section>

<section class="padding-bottom-40">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center margin-bottom-40">Any<br><span class="bold-rounded">QUESTIONS?</span></h1>
        <p class="text-center margin-bottom-40">click the button below and we’ll get back to you ASAP</p>
        <a class="aberdeen-btn filled centered" ui-sref="contact" analytics-on="click" analytics-event="CONTACT US">CONTACT US</a>
      </div>
    </div>
  </div>
</section>
